@{
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-12 d-flex flex-column grid-margin stretch-card">
	<div class="jumbotron">
		<div class="fade-jumbotron p-h3-w3">
			<h1 class="cl-base">Bienvenido</h1>
			<p class="cl-base">Panel de administración.</p>
		</div>
	</div>
</div>

<div class="head-title-content">
	<h2 class="body-title">Accesos Rapidos</h2>
</div>

<div class="col-md-4 d-flex align-items-stretch">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card card-rounded">
                <a asp-area="Admin" asp-controller="Categorias" asp-action="Index" class="card-body d-sm-flex align-items-end">
                    <h4 class="card-title card-title-dash p-l-n5 mb-0">Categorías</h4>
                </a>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card card-rounded">
                <a asp-area="Admin" asp-controller="Articulos" asp-action="Index" class="card-body d-sm-flex align-items-end">
                    <h4 class="card-title card-title-dash p-l-n5 mb-0">Productos</h4>
                </a>
            </div>
        </div>
    </div>
</div>